.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.inputId {
  padding: 10px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  outline:none;
}

.inputId.valid {
  border-color: green;
  box-shadow: 0 0 5px green;
}

.inputId.invalid {
  border-color: red;
  box-shadow: 0 0 5px red;
}

#submit {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit:hover {
  background-color: #45a049;
  transition: .3s;
}

#post {
  width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}